.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App-link {
  color: #09d3ac;
}

.img {
  width: auto;
  height: 95vh;
  margin-left: 20vh;
  margin-right: 20vh;
}
.phonebutton {
  position: absolute;
  /* margin-top: 575px;
  margin-left: 242px; */
  height: 35px;
  border: none;
}
#button1 {
  margin-top: 575px;
  margin-left: 186px;
}
#button2 {
  margin-top: 575px;
  margin-left: 248px;
}
#button3 {
  margin-top: 575px;
  margin-left:312px;
}
#button4 {
  margin-top: 618px;
  margin-left: 186px;
}
#button5 {
  margin-top: 618px;
  margin-left: 248px;
}
#button6 {
  margin-top: 618px;
  margin-left: 312px;
}
#button7 {
  margin-top: 660px;
  margin-left: 186px;
}
#button8 {
  margin-top: 660px;
  margin-left: 248px;
}
#button9 {
  margin-top: 660px;
  margin-left: 312px;
}
#button10 {
  margin-top: 702px;
  margin-left: 248px;
}
#buttonok {
  margin-top: 496px;
  margin-left: 245px;
}